.form {
  width: 90%;
  background-color: #C5AFDA;
}

.todo-form-label {
  color: white;
  font-weight: bold;
}

.btn-custom {
  background-color: #A585C1;
  border-color: #A585C1;
  color: white;
  text-shadow: 0px 
}

.btn-custom:hover {
  background-color: #a585c1cb;
  color: white;
}