li {
  list-style-type: none;
}

.toast {
  color: white;
  font-weight: bold;
  background-color: #EEBBCC;
}

.toast-header {
  display: flex;
  justify-content: space-between;
  background-color: #ffe0ea;
}

