li {
  list-style-type: none;
}

.toast {
  color: white;
  font-weight: bold;
  background-color: #EEBBCC;
  font-family: 'LinikSansRegular';
}

.toast-header {
  display: flex;
  justify-content: space-between;
  background-color: #ffe0ea;
}

.due-date {
  font-size: .9em;
  text-align: end;
}

.toast-container {
  will-change: opacity;
}
