h1 {
  font-size: 4em;
  display: inline-block;
  color: rgb(92, 92, 92);
  text-shadow: 0px 0px 3px gray;
  font-family: 'RiseStarHandRegular';
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

body {
  background-color: #FFD5CC;
}